*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/debug_screenshots/
[Gg][Ee][Mm][Ii][Nn][Ii].[Mm][Dd]
[Pp][Rr][Oo][Jj][Ee][Cc][Tt]_[Ss][Tt][Aa][Tt][Uu][Ss].[Mm][Dd]
.env
/mfp_mcp_server/.env
/build
/app/build